.banner {
  background: linear-gradient(45deg, rgb(113, 26, 95), #fda7df 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
