[package]
name = "farmfe_compiler"
version = "0.0.1"
edition = "2021"

[dependencies]
farmfe_core = { path = "../core" }
farmfe_plugin_partial_bundling = { path = "../plugin_partial_bundling" }
farmfe_plugin_resolve = { path = "../plugin_resolve" }
farmfe_plugin_script = { path = "../plugin_script" }
farmfe_plugin_runtime = { path = "../plugin_runtime" }
farmfe_plugin_html = { path = "../plugin_html" }
farmfe_plugin_tree_shake = { path = "../plugin_tree_shake" }
farmfe_plugin_css = { path = "../plugin_css" }
farmfe_plugin_lazy_compilation = { path = "../plugin_lazy_compilation" }
farmfe_plugin_static_assets = { path = "../plugin_static_assets" }
farmfe_toolkit = { path = "../toolkit" }
farmfe_utils = { path = "../utils" }
farmfe_testing_helpers = { path = "../testing_helpers" }
farmfe_plugin_json = { path = "../plugin_json" }

[features]
profile = ["farmfe_core/profile"]
