.main {
  color: red;
  background: url(/@/logo.png);
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.main-2 {
  color: red;
  background: url(./logo.aaa);
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}


.main-3 {
  color: red;
  background: url(@/logo.png);
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
  background-repeat: no-repeat;
}
