.container-3cdf39bf .arco-list-content {
  overflow-x: hidden;
}
.container-3cdf39bf .arco-card-meta-title {
  font-size: 14px;
}
.container-3cdf39bf h6 {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 12px;
}
.container-3cdf39bf .card-content-3cdf39bf {
  min-height: 180px;
  width: 100%;
}
.container-3cdf39bf .single-content-3cdf39bf {
  margin-top: 30px;
}
.card-block-3cdf39bf {
  margin-bottom: 16px;
}
.card-block-3cdf39bf .arco-card-header {
  border-bottom: none;
  height: auto;
  padding: 16px;
  padding-bottom: 0;
}
.card-block-3cdf39bf .title-3cdf39bf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 24px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.card-block-3cdf39bf .title-3cdf39bf .icon-3cdf39bf {
  height: 24px;
  width: 24px;
  color: var(--color-white);
  background: #626aea;
  text-align: center;
  line-height: 24px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 8px;
}
.card-block-3cdf39bf .title-3cdf39bf .status-3cdf39bf {
  margin-left: 12px;
}
.card-block-3cdf39bf .title-3cdf39bf .more-3cdf39bf {
  color: var(--color-text-4);
  font-size: 16px;
  position: absolute;
  right: 16px;
  cursor: pointer;
  opacity: 0;
}
.card-block-3cdf39bf .title-more-3cdf39bf .more-3cdf39bf {
  opacity: 1;
}
.card-block-3cdf39bf .time-3cdf39bf, 
.card-block-3cdf39bf .content-3cdf39bf > .arco-typography, 
.card-block-3cdf39bf .arco-descriptions-item-label, 
.card-block-3cdf39bf .arco-descriptions-item-value {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-3);
  padding: 0;
  line-height: 20px;
}
.card-block-3cdf39bf .arco-descriptions-item-value {
  color: var(--color-text-2);
  padding-left: 6px;
}
.card-block-3cdf39bf .content-3cdf39bf {
  height: 48px;
}
.card-block-3cdf39bf .extra-3cdf39bf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.card-block-skeleton-3cdf39bf .arco-skeleton-content .arco-skeleton-text-row:not(:last-child) {
  height: 14px;
  margin-bottom: 8px;
}
.card-block-3cdf39bf:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.card-block-3cdf39bf:hover .title-3cdf39bf .more-3cdf39bf {
  opacity: 1;
}
.add-card-3cdf39bf {
  text-align: center;
  cursor: pointer;
}
.add-card-3cdf39bf .add-icon-3cdf39bf {
  font-size: 22px;
}
.add-card-3cdf39bf .description-3cdf39bf {
  margin-top: 16px;
  color: var(--color-text-3);
  font-weight: 400;
}
.add-card-3cdf39bf .arco-card-body {
  padding-top: 52px;
  padding-bottom: 64px;
}
.service-card-3cdf39bf .arco-card-body {
  padding: 12px 16px 16px 48px;
}
.service-card-3cdf39bf .content-3cdf39bf {
  margin-bottom: 10px;
  height: 60px;
}
.rules-card-3cdf39bf .arco-card-body {
  padding: 12px 16px 16px;
}
.rules-card-3cdf39bf .content-3cdf39bf {
  margin-bottom: 14px;
}