.wrapper-e6b7a0ae {
  padding: 24px 150px;
  background-color: var(--color-bg-2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: -webkit-calc(100vh - 168px);
  min-height: -moz-calc(100vh - 168px);
  min-height: calc(100vh - 168px);
}
.result-e6b7a0ae {
  margin: 150px 0 36px;
}
.details-wrapper-e6b7a0ae {
  width: 100%;
  padding: 20px;
  background-color: var(--color-fill-2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 150px;
}