.container-867a8a5a {
  overflow: hidden;
}
.container-867a8a5a .arco-card-body {
  padding: 20px 20px 10px;
}
.container-867a8a5a .arco-card {
  margin-bottom: 16px;
}
.actions-867a8a5a {
  padding: 12px 40px;
  background-color: var(--color-bg-2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -moz-box-orient: horizontal;
  -moz-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.1);
}