.header-fcc11514 {
  height: 200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-text-1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
}
.header-fcc11514 .arco-avatar-trigger-icon-button {
  color: rgb(var(--arcoblue-6));
}
.header-fcc11514 .arco-avatar-trigger-icon-button .arco-icon {
  vertical-align: -1px;
}
.header-fcc11514 .username-fcc11514 {
  font-weight: 500;
  font-size: 16px;
}
.header-fcc11514 .user-msg-text-fcc11514 {
  display: inline-block;
  margin-left: 6px;
}
.header-fcc11514::after {
  background: url("/static/header-banner.146da8ac-8e9ea7.png") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  content: ' ';
}
.header-content-fcc11514 {
  position: relative;
  z-index: 2;
}
.wrapper-fcc11514 {
  margin-top: 16px;
}
.card-title-wrapper-fcc11514 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.list-meta-ellipsis-fcc11514 .arco-list-item-meta-content {
  width: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.project-wrapper-7c9fb306 {
  cursor: pointer;
}
.project-wrapper-7c9fb306 h6 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
}
.project-wrapper-7c9fb306 .avatar-7c9fb306 {
  margin-top: 22px;
}
.project-wrapper-7c9fb306 .more-7c9fb306 {
  font-size: 12px;
  margin-left: 12px;
}