.message-item-8c867de7 {
  font-size: 12px;
  line-height: 20px;
  padding: 8px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.message-item-footer-8c867de7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.message-item-actions-8c867de7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}
.message-item-actions-item-8c867de7 {
  margin-right: 4px;
  font-size: 14px;
  color: var(--color-text-3);
  width: 20px;
  height: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
.message-item-actions-item-8c867de7:hover {
  background-color: rgb(var(--gray-3));
}
.message-item-actions-item-8c867de7:last-child {
  margin-right: 0;
}
.message-item-collected-8c867de7 .message-item-actions-collect-8c867de7 {
  color: rgb(var(--gold-6));
}
.message-item-8c867de7:hover {
  background-color: rgb(var(--gray-2));
}
.message-item-8c867de7:hover .message-item-actions-8c867de7 {
  opacity: 1;
}
.layout-589231a3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.layout-left-side-589231a3 {
  -webkit-flex-basis: 300px;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
}
.layout-content-589231a3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 16px;
}
.layout-right-side-589231a3 {
  -webkit-flex-basis: 280px;
  -ms-flex-preferred-size: 280px;
  flex-basis: 280px;
}
.chat-panel-589231a3 {
  height: 100%;
  background-color: var(--color-bg-2);
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.chat-panel-content-589231a3 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 20px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.data-statistic-content-589231a3 {
  padding: 20px 0;
}
.data-statistic-list-header-589231a3 {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.data-statistic-list-content-589231a3 {
  margin-top: 16px;
}
.data-statistic-list-cover-wrapper-589231a3 {
  height: 68px;
  position: relative;
}
.data-statistic-list-cover-wrapper-589231a3 img {
  height: 100%;
}
.data-statistic-list-cover-tag-589231a3 {
  position: absolute;
  top: 6px;
  left: 6px;
}
.data-statistic-list-tip-589231a3 {
  display: block;
  margin-top: 16px;
  text-align: center;
}
.studio-wrapper-589231a3 .arco-card-body {
  padding-top: 0 !important;
}
.studio-preview-589231a3 {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.studio-bar-589231a3 {
  margin-top: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}