.container-968bd121 .arco-card-body {
  padding: 20px;
}
.container-968bd121 .arco-card-body > h5 {
  margin: 0;
}
.wrapper-968bd121 {
  width: 624px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 70px;
}
.form-968bd121 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 76px;
  padding-right: 76px;
}
.form-extra-968bd121 {
  width: 895px;
  margin: 54px auto;
  background-color: var(--color-fill-1);
  padding: 20px;
  margin-bottom: 120px;
}
.form-extra-968bd121 > h6 {
  margin-top: 0;
}
.form-extra-968bd121 > div {
  margin-bottom: 0;
}