.code-block-da150ea7 {
  color: var(--color-text-2);
  padding: 8px;
  background-color: var(--color-fill-1);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.code-block-content-da150ea7 {
  display: inline-block;
}
.code-block-copy-btn-da150ea7 {
  margin-left: 8px;
}
.header-7c7c0813 {
  background: var(--color-bg-2);
  padding: 20px;
}