registry = "https://registry.npmjs.org/"
auto-install-peers = false
electron-mirror="https://npmmirror.com/mirrors/electron/"
link-workspace-packages=true
fetch-retries=0
tag-version-prefix=""
git-tag-version=false
