.counter-button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: green;
  color: white;
  font-size: 30px;
  line-height: 50px;
  border-radius: 10px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: lightgreen;
}

.disable {
  background-color: #999;
  color: #333;
}