html[data-theme="light"] {
  --note-color: #241800;

  --admonition-note-c-bg: linear-gradient(
    to bottom,
    var(--ifm-alert-note-background-color),
    transparent 40%
  );
  --admonition-info-c-bg: linear-gradient(
    to bottom,
    var(--ifm-alert-info-background-color),
    transparent 40%
  );
  --admonition-tip-c-bg: linear-gradient(
    to bottom,
    var(--ifm-alert-tip-background-color),
    transparent 40%
  );
  --admonition-warning-c-bg: linear-gradient(
    to bottom,
    var(--ifm-alert-warning-background-color),
    transparent 40%
  );
  --admonition-caution-c-bg: linear-gradient(
    to bottom,
    var(--ifm-alert-caution-background-color),
    transparent 40%
  );
  --admonition-danger-c-bg: linear-gradient(
    to bottom,
    var(--ifm-alert-danger-background-color),
    transparent 40%
  );
  --admonition-note-c-color: #ff9ff3;
  --admonition-info-c-color: inherit;
  --admonition-tip-c-color: inherit;
  --admonition-warning-c-color: inherit;
  --admonition-caution-c-color: inherit;
  --admonition-danger-c-color: inherit;

  --admonition-code-note-c-bg: #ff9ff350;
  --admonition-code-info-c-bg: var(--c-teal-20);
  --admonition-code-warning-c-bg: var(--c-yellow-20);
  --admonition-code-tip-c-bg: var(--c-green-20);
  --admonition-code-caution-c-bg: var(--c-orange-20);
  --admonition-code-danger-c-bg: var(--c-red-10);
  --admonition-tip-border: var(--c-green-100);
  --admonition-tip-color: var(--c-green-100);
  --ifm-alert-warning-background-color: var(--c-yellow-10);
  --ifm-alert-tip-background-color: var(--c-green-10);
  --ifm-alert-danger-background-color: var(--c-red-10);
  --ifm-alert-note-background-color: #ff9ff360;
  --ifm-alert-info-background-color: var(--c-teal-10);
  --ifm-alert-caution-background-color: var(--c-green-10);
  // body {
  //   --angle: 220deg;
  //   background-image: linear-gradient(
  //     var(--angle),
  //     white 15%,
  //     #ff9ff360 20%,
  //     white 25%,
  //     #f4eef8 30%,
  //     white 35%,
  //     #f8edf5 40%,
  //     white 60%
  //   );
  //   background-attachment: fixed;
  //   background-size: cover;
  // }
}

html[data-theme="dark"] {
  --note-color: #e3e3e3;
  --admonition-tip-border: var(--c-green-50);
  --admonition-tip-color: var(--c-green-50);

  --admonition-note-c-bg: transparent;
  --admonition-info-c-bg: transparent;
  --admonition-tip-c-bg: transparent;
  --admonition-warning-c-bg: transparent;
  --admonition-caution-c-bg: transparent;
  --admonition-danger-c-bg: transparent;

  --admonition-note-c-color: #ff9ff3;
  --admonition-info-c-color: var(--c-blue-50);
  --admonition-tip-c-color: var(--c-green-50);
  --admonition-warning-c-color: var(--c-yellow-50);
  --admonition-caution-c-color: var(--c-orange-50);
  --admonition-danger-c-color: var(--c-red-50);

  --ifm-alert-tip-background-color: var(--c-green-50-a);
  --admonition-code-note-c-bg: #ff9ff350;
  --admonition-code-warning-c-bg: var(--c-yellow-50-a);
  --admonition-code-info-c-bg: #00163d;
  --admonition-code-tip-c-bg: #003d11;
  --admonition-code-caution-c-bg: #3d1200;
  --admonition-code-danger-c-bg: #3d0003;
  --ifm-alert-warning-background-color: var(--c-yellow-30-a);
}

:root {
  --admonition-bar-note-c-bg: var(--c-yellow-80);
  --admonition-bar-info-c-bg: var(--c-blue-80);
  --admonition-bar-tip-c-bg: var(--c-green-80);
  --admonition-bar-caution-c-bg: var(--c-orange-80);
  --admonition-bar-danger-c-bg: var(--c-red-60);

  --admonition-link-note-c: var(--c-brand);
  --admonition-link-info-c: var(--c-teal-90);
  --admonition-link-tip-c: var(--c-green-60);
  --admonition-color-tip-c: var(--note-color);
  --admonition-color-note-c: var(--note-color);
  --admonition-link-caution-c: var(--c-orange-90);
  --admonition-link-danger-c: var(--c-red-60);
}

.theme-admonition {
  position: relative;
  border: none;

  --ifm-alert-color: var(--ifm-font-color-base);
  --ifm-alert-padding-horizontal: 2rem;
  --ifm-alert-padding-vertical: 1.5rem;

  [class^="admonitionHeading_"] {
    text-transform: capitalize;

    font-size: 1rem;
    line-height: 1.6;

    [class^="admonitionIcon_"] {
      display: none;
    }
  }

  [class^="admonitionContent_"] {
    p {
      a {
        color: var(--admonition-link-c);
        text-decoration: underline;
      }

      code {
        background: var(--admonition-code-c-bg);
      }
    }
  }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   z-index: 2;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   width: 5px;
  //   background: var(--admonition-bar-c-bg);
  //   border-radius: 4px 0 0 4px;
  // }
  &-warning {
    --admonition-bar-c-bg: var(--admonition-bar-note-c-bg);
    --admonition-code-c-bg: var(--admonition-code-warning-c-bg);
    --admonition-link-c: var(--admonition-link-note-c);
    border: 2px solid var(--c-yellow-90-a);
    // background: var(--admonition-warning-c-bg);
    // color: var(--admonition-warning-c-color);
    background: transparent;
    color: var(--c-yellow-90);
  }

  &-note {
    --admonition-bar-c-bg: var(--admonition-bar-note-c-bg);
    --admonition-code-c-bg: var(--admonition-code-note-c-bg);
    --admonition-link-c: var(--admonition-link-note-c);
    border: 2px solid var(--c-brand-a);
    // background: var(--admonition-note-c-bg);
    // color: var(--admonition-note-c-color);
    background: transparent;
    color: var(--c-brand);
  }

  &-info {
    --ifm-alert-background-color: var(--c-teal-210);
    --admonition-bar-c-bg: var(--admonition-bar-info-c-bg);
    --admonition-code-c-bg: var(--admonition-code-info-c-bg);
    --admonition-link-c: var(--admonition-link-info-c);
    border: 2px solid var(--c-teal-60);
    // background: var(--admonition-info-c-bg);
    // color: var(--admonition-info-c-color);
    background: transparent;
    color: var(--c-teal-90);
  }

  &-tip {
    --admonition-bar-c-bg: var(--admonition-bar-tip-c-bg);
    --admonition-code-c-bg: var(--admonition-code-tip-c-bg);
    --admonition-link-c: var(--admonition-link-tip-c);
    border: 2px solid var(--admonition-tip-border);
    // background: var(--admonition-tip-c-bg);
    // color: var(--admonition-tip-c-color);
    background: transparent;
    color: var(--admonition-tip-color);
  }

  &-caution {
    --ifm-alert-background-color: var(--admonition-caution-c-bg);
    --admonition-bar-c-bg: var(--admonition-bar-caution-c-bg);
    --admonition-code-c-bg: var(--admonition-code-caution-c-bg);
    --admonition-link-c: var(--admonition-link-caution-c);
    // background: var(--admonition-caution-c-bg);
    // color: var(--admonition-caution-c-color);
    background: transparent;
  }

  &-danger {
    --ifm-alert-background-color: var(--admonition-danger-c-bg);
    --admonition-bar-c-bg: var(--admonition-bar-danger-c-bg);
    --admonition-code-c-bg: var(--admonition-code-danger-c-bg);
    --admonition-link-c: var(--admonition-link-danger-c);
    border: 2px solid var(--c-red-50-a);
    // background: var(--admonition-danger-c-bg);
    // color: var(--admonition-danger-c-color);
    background: transparent;
    color: var(--c-red-50);
  }

  &-important {
    --ifm-alert-background-color: var(--c-lavender-210);
    --admonition-bar-c-bg: var(--admonition-bar-danger-c-bg);
    --admonition-code-c-bg: var(--admonition-code-danger-c-bg);
    --admonition-link-c: var(--admonition-link-danger-c);
    border: 2px solid var(--c-lavender-220);
    background: linear-gradient(
      to bottom,
      var(--ifm-alert-background-color),
      transparent
    );
  }
}

.alert--secondary {
  // color: var(--ifm-font-color-base);
}
