.child {
  color: black;
}

.child, :global(.child-global) {
  color: yellowgreen;
  background-color: whitesmoke;
}

.child, :global(.child-global2) {
  color: yellowgreen;
  background-color: whitesmoke;
}