.container {
  /* background-color: var(--rp-code-block-bg); */
  contain: content;
  border-radius: 6px;

  :global(div[class*='language-']) {
    margin: 6px 0;

    code {
      /* background-color: var(--rp-c-bg); */
    }
  }
}

.tab-list {
  display: flex;
  min-width: 100%;
  overflow-x: scroll;
  padding: 4px 0 8px 8px;
}

.tab {
  /* color: var(--rp-c-text-2); */
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
  margin-right: 10px;
  padding: 6px 12px;
  margin-bottom: -1px;
  user-select: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.tab:last-child {
  margin-right: 0;
}

.not-selected:hover {
  /* color: var(--rp-c-text-1); */
  /* border-color: var(--rp-c-gray); */
}

.selected {
  /* color: var(--rp-c-link); */
  border-color: currentColor;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
