@import './base.css';
@import url(./index.css);
@import url("./extension.css");
@import '/public.css';
@import url(https://remote.css);


body {
  background: url('./background.png');
}

.home {
  background: url('./img/home.png') no-repeat;
}

div {
  background: url('/@/img/logo.png');
}

p {
  background: url('@/img/logo.png');
  /* top: -8px/2 + 1; */
}

.home {filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20)}
