.main-content {
  font-weight: bold;
  font-size: 28px;
  background: var(--accent-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  background-size: 400%;
  background-position: 0%;
}
.action-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  height: 100%;
}
.action {
  display: flex;
  gap: 40px;
}
.farm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  padding: 0rem 1rem;
  gap: 1.7rem;
}
.farm-desc {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.container-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.container-box img {
  width: 70px;
  height: 70px;
}
.farm-desc-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rich-desc,
.fast-desc,
.fully-desc {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sub-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.logo {
  width: 450px;
}

.img {
  width: 100px;
  height: 100px;
}

@media (max-width: 1760px) {
  .farm-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
  }
  .farm-container {
    width: 60vw;
  }
}

@media (max-width: 640px) {
  .farm-container {
    width: 100vw;
  }
}
