.wrapper-2ba8a165 {
  position: relative;
  background-color: var(--color-bg-1);
  height: -webkit-calc(100vh - 168px);
  height: -moz-calc(100vh - 168px);
  height: calc(100vh - 168px);
}
.result-2ba8a165 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}