.customer-tooltip-title-3f86997c {
  margin-bottom: 4px;
}
.customer-tooltip-item-3f86997c {
  height: 32px;
  line-height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 6px 0 20px rgba(34, 87, 188, 0.1);
  -moz-box-shadow: 6px 0 20px rgba(34, 87, 188, 0.1);
  box-shadow: 6px 0 20px rgba(34, 87, 188, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: var(--color-text-2);
}
.customer-tooltip-item-3f86997c .arco-badge-status-dot {
  width: 10px;
  height: 10px;
  margin-right: 8px;
}
.customer-tooltip-item-3f86997c:not(:last-child) {
  margin-bottom: 8px;
}
body[arco-theme='dark'] .customer-tooltip-item-3f86997c {
  background: #2a2a2b;
  -webkit-box-shadow: 6px 0px 20px rgba(34, 87, 188, 0.1);
  -moz-box-shadow: 6px 0px 20px rgba(34, 87, 188, 0.1);
  box-shadow: 6px 0px 20px rgba(34, 87, 188, 0.1);
}