.item-4b7a95bc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 24px;
  margin-bottom: 4px;
}
.link-4b7a95bc {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 4px;
  color: var(--color-text-2);
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}
.docs-e10e9c49 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.link-e10e9c49 {
  color: var(--color-text-2);
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 12px;
}
.link-e10e9c49:hover {
  color: rgb(var(--primary-6));
}
.container-034c3371 {
  padding: 20px;
}
.container-034c3371 .arco-divider-horizontal {
  border-bottom: 1px solid var(--color-border-1);
}
.container-034c3371 .arco-divider-vertical {
  border-left: 1px solid var(--color-border-1);
}
.item-034c3371 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  color: var(--color-text-1);
}
.icon-034c3371 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background-color: var(--color-fill-2);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 12px;
}
.title-034c3371 {
  font-size: 12px;
  color: var(--color-text-1);
}
.count-034c3371 {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-text-1);
}
.count-034c3371 .unit-034c3371 {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-2);
  margin-left: 8px;
}
.divider-034c3371 {
  height: 60px;
}
.ctw-034c3371 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}
.chart-title-034c3371 {
  font-size: 16px;
  font-weight: 500;
}
.chart-sub-title-034c3371 {
  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
  color: var(--color-text-3);
}
.symbol-93380045 {
  font-size: 10px;
  margin-left: 4px;
}
.symbol-93380045 > svg {
  vertical-align: 0;
}
.shortcuts-746ded81 {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}
.item-746ded81 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}
.item-746ded81:hover .icon-746ded81 {
  background-color: var(--color-primary-light-1);
}
.item-746ded81:hover .icon-746ded81 svg {
  color: rgb(var(--primary-6));
}
.item-746ded81:hover .title-746ded81 {
  color: rgb(var(--primary-6));
}
.icon-746ded81 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: var(--color-fill-2);
  margin-bottom: 4px;
}
.icon-746ded81 svg {
  font-size: 18px;
}
.title-746ded81 {
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text-1);
}
.recent-746ded81 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-1);
  margin-bottom: 16px;
}
.banner-2b893121 {
  background-color: var(--color-bg-2);
  padding: 20px;
}
.content-2b893121 {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.right-2b893121 {
  width: 280px;
}
.panel-2b893121 {
  background-color: var(--color-bg-2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: auto;
}