[package]
name = "farmfe_plugin_css"
version = "0.0.1"
edition = "2021"

[dependencies]
farmfe_core = { path = "../core" }
farmfe_toolkit = { path = "../toolkit" }
farmfe_utils = { path = "../utils" }
