@tailwind base;
@tailwind components;
@tailwind utilities;

.home-wrap {
  display: flex;
  background: #EEEDEB;
  padding: 15px;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  gap: 10px;
  overflow: hidden;
}

.left-wrap {
  min-width: 10vw;
  flex-grow: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
}

.right-wrap {
  flex-grow: 2;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 85%;
  min-width: 40%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
}