.css {
  scrollbar-width: thin;
  scrollbar-color: #d9d9d9 transparent;
}
.css::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
  border-radius: 8px;
}
.css::-webkit-scrollbar-thumb:hover {
  background-color: #d9d9d9;
  border-radius: 8px;
}
.css::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.css::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}