@import './variables';

@font-face {
  font-family: $iconfont; /* Project id 2208059 */
  src: url('iconfont.woff2?t=1671895108120') format('woff2'),
    url('iconfont.woff?t=1671895108120') format('woff'),
    url('iconfont.ttf?t=1671895108120') format('truetype');
}

body {
  font-family: $iconfont;
}

body:before {
  content: '\e620';
}
