.farm-button {
  background-color: #9f1a8f;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  margin-right: 20px;
  text-decoration: none;
}

.farm-button:hover {
  background-color: #bf1aaf;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -2px rgb(0 0 0 / 10%);
}