.farm-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.farm-title {
  color: rgb(113, 26, 95);
  font-size: 100px;
  font-style: italic;
  margin: 0;
}

.farm-logo {
  width: 150px;
}