[package]
name = "farmfe_core"
version = "0.0.1"
edition = "2021"
authors = ["brightwu(吴明亮) <1521488775@qq.com>"]
license = "MIT"
description = "Core types and data structures for farm."

[dependencies]
farmfe_macro_cache_item = { version = "0.0.1", path = "../macro_cache_item" }
farmfe_utils = { version = "0.0.1", path = "../utils" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
parking_lot = { version = "0.12", features = ["deadlock_detection"] }
relative-path = "1.7"
dashmap = "5.0"
hashbrown = "0.12"
blake2 = "0.10"
hex = "0.4"
rkyv = { version = "0.7", features = ["hashbrown"] }
rkyv_dyn = "0.7"
rkyv_typename = "0.7"
ptr_meta = "0.1"
thiserror = "1.0"
rayon = "1.5"
petgraph = "0.6"
bytecheck = "0.6.9"
downcast-rs = "1.2"
glob = "0.3"
swc_ecma_ast = { version = "0.100.1", features = ["rkyv-impl"] }
swc_ecma_parser = { version = "0.130.2" }
swc_common = { version = "0.29.37", features = ["concurrent", "sourcemap"] }
swc_css_ast = { version = "0.134.11", features = ["rkyv-impl"] }
swc_html_ast = { version = "0.28.30", features = ["rkyv-impl"] }
heck = "0.4.1"
puffin = { version = "0.14.3", features = ["packing"], optional = true }

[features]
profile = ["dep:puffin"]
