.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em blue);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em red);
  // Path: apps/sfc-src-scss/src/app.vue
}
