.dep {
  background-image: url("/logo-90580d.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: red;
  width: 200px;
  height: 50px;
}
.description .description:hover {
  color: red;
}