<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <div id="template-mode" data-template-mode="<%= templateMode %>"></div>
    <div id="root"><%- appHtml %></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
