name: Release Cargo Crates

permissions:
  pull-requests: write
  contents: write

on:
  push:
    branches:
      - main

jobs:
  release-plz:
    name: Release-plz
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: Wandalen/wretry.action@master
        with:
          action: MarcoIeni/release-plz-action@v0.5
          with: |
            env: |
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
          attempt_limit: 5
          attempt_interval: 60000
      - name: Run release-plz
        uses: MarcoIeni/release-plz-action@v0.5
        if: ${{ failure() }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
