name: Plugin - Building Rust Binding And Upload Artifacts
on: workflow_call

inputs:
  root:
    required: true
    description: the path of the plugin, for example, rust-plugins/react

jobs:
  # cross compile arm64 macos cause github runners does not native support it
  cross-build-mac-arm:
    name: Build and Upload Artifacts - darwin-arm64
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: oxidecomputer/actions-rs_toolchain@oxide/master
      - uses: Swatinem/rust-cache@v1
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install -g pnpm && pnpm i --frozen-lockfile
      - run: rustup target add aarch64-apple-darwin
      - run: wget --quiet https://ziglang.org/download/0.9.1/zig-linux-x86_64-0.9.1.tar.xz
      - run: tar -xf zig-linux-x86_64-0.9.1.tar.xz
      - run: mv zig-linux-x86_64-0.9.1 ~/
      - run: ln -s ~/zig-linux-x86_64-0.9.1/zig /usr/local/bin

      - name: Build - Arm64
        run: cd ${{ inputs.root }} && npm run build -- -- --target aarch64-apple-darwin --zig
      - name: Upload - Arm64
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}-darwin-arm64
          path: ${{ inputs.root }}/npm/darwin-arm64/index.farm
  build:
    name: Build and Upload Artifacts
    runs-on: ${{ matrix.settings.os }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          - os: ubuntu-latest
            abi: linux-x64-gnu
          - os: macos-10.15
            abi: darwin-x64
          - os: windows-latest
            abi: win32-x64-msvc
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: oxidecomputer/actions-rs_toolchain@oxide/master
      - uses: Swatinem/rust-cache@v1
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install -g pnpm && pnpm i --frozen-lockfile

      - name: Build - ${{ matrix.settings.abi }}
        run: cd ${{ inputs.root }} && npm run build
      - name: Upload - ${{ matrix.settings.abi }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}-${{ matrix.settings.abi }}
          path: ${{ inputs.root }}/npm/${{ matrix.settings.abi }}/index.farm
