name: Building Rust Binding And Upload Artifacts
on: workflow_call

jobs:
  # cross compile arm64 macos cause github runners does not native support it
  cross-build-mac-arm:
    name: Build and Upload Artifacts - darwin-arm64
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: oxidecomputer/actions-rs_toolchain@oxide/master
      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: cargo-test-${{ matrix.settings.crate }}

      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install -g pnpm && pnpm i --frozen-lockfile
      - run: rustup target add aarch64-apple-darwin
      # - run: wget --quiet https://ziglang.org/download/0.10.1/zig-macos-x86_64-0.10.1.tar.xz
      # - run: tar -xf zig-macos-x86_64-0.10.1.tar.xz
      # - run: mv zig-macos-x86_64-0.10.1 ~/
      # - run: ln -s ~/zig-macos-x86_64-0.10.1/zig /usr/local/bin
      # - run: chmod +x /usr/local/bin/zig

      - name: Build - Arm64
        run: cd packages/core && npm run build:rs:publish -- --target aarch64-apple-darwin
        # run: cd packages/core && npm run build:rs -- --target aarch64-apple-darwin --zig
      - name: Upload - Arm64
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}-darwin-arm64
          path: ./packages/core/binding/farm.darwin-arm64.node
  build:
    name: Build and Upload Artifacts
    runs-on: ${{ matrix.settings.os }}
    strategy:
      fail-fast: false
      matrix:
        settings:
          - os: ubuntu-latest
            abi: linux-x64-gnu
          - os: macos-latest
            abi: darwin-x64
          - os: windows-latest
            abi: win32-x64-msvc
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: oxidecomputer/actions-rs_toolchain@oxide/master
      - name: Cache rust artifacts
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: rust-build-${{ matrix.settings.os }}

      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install -g pnpm && pnpm i --frozen-lockfile

      - name: Build - ${{ matrix.settings.abi }}
        run: cd packages/core && npm run build:rs:publish
      - name: Upload - ${{ matrix.settings.abi }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.sha }}-${{ matrix.settings.abi }}
          path: ./packages/core/binding/farm.${{ matrix.settings.abi }}.node
