name: Test Farm Examples
on:
  pull_request:
    branches:
      - main

jobs:
  call-rust-build:
    uses: ./.github/workflows/rust-build.yaml

  call-rust-plugin-react-build:
    uses: ./.github/workflows/rust-plugin-build.yaml
    with:
      root: rust-plugins/react
      name: plugin-react

  call-rust-plugin-sass-build:
    uses: ./.github/workflows/rust-plugin-build.yaml
    with:
      root: rust-plugins/sass
      name: plugin-sass

  examples-test:
    name: Examples Test
    runs-on: ${{ matrix.settings.os }}
    needs:
      [
        call-rust-build,
        call-rust-plugin-react-build,
        call-rust-plugin-sass-build
      ]
    strategy:
      fail-fast: false
      matrix:
        settings:
          - os: ubuntu-latest
            abi: linux-x64-gnu
          - os: macos-latest
            abi: darwin-x64
          - os: windows-latest
            abi: win32-x64-msvc
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: npm install -g pnpm && pnpm i --frozen-lockfile

      - uses: actions/download-artifact@v3
        id: download
        with:
          name: ${{ github.sha }}-${{ matrix.settings.abi }}
          path: ./packages/core/binding

      - uses: actions/download-artifact@v3
        id: download-plugin-sass
        with:
          name: ${{ github.sha }}-${{ matrix.settings.abi }}-plugin-sass
          path: ./rust-plugins/sass/npm/${{ matrix.settings.abi }}

      - uses: actions/download-artifact@v3
        id: download-plugin-react
        with:
          name: ${{ github.sha }}-${{ matrix.settings.abi }}-plugin-react
          path: ./rust-plugins/react/npm/${{ matrix.settings.abi }}

      - name: Test Examples - ${{ matrix.settings.abi }}
        run: node scripts/test-examples.mjs

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3
        timeout-minutes: 30
        with:
          limit-access-to-actor: true
